.card {
  display: flex;
  align-items: center;

  border: 1px solid #eeeeee;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 1rem;
  margin-bottom: 1rem;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  margin-left: 1rem;
}

.card-title {
  font-size: 1.4rem;
  font-weight: 700;
}

.card-subtitle {
  font-size: 0.9rem;
  color: #666;
  word-break: break-all;
}